/* Style for the file input */
#fileInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the table container */
#tableContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

#tableContainer label {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    font-weight: bold;
}

/* Style for the extra container */
#extraContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    position: relative;
}

#extraContainer label {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #f0f0f0;
    padding: 0 5px;
    font-weight: bold;
}

/* Style for the link container */
#linkContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

#linkContainer label {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    font-weight: bold;
}

#excelButton {
	position: absolute;
	top: 10px;
	right: 70px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	color: #fff;
	cursor: pointer;
}

#copyButton {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

#copyLinkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#copyIframeButton {
    position: absolute;
    top: 10px;
    right: 90px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}